<% if @article.errors.any? %>
    <h2>The errors encountered : </h2>
    <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
        <%end%>
    </ul>
<%end %>